*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}
body{
    /* background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
    url(img/nattu-adnan-Ai2TRdvI6gM-unsplash.jpg); */
    background-image: url(img/mathyas-kurmann-jnHQsTfq2Og-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: #7d9ece; */
}


/* BARRA LATERAL DE NAVEGACIÓN */
.navegacion-2{
    display: none;
}
.navegacion{
    width: 28%;
    height: 100vh;
    /* border-right: .3px solid #a0a0a0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    padding: 0 5%;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.459);
    /* background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
    url(img/joanna-kosinska-mjC9apK53a8-unsplash.jpg); */
}
.div-nav{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.titulo{
    color: black;
    font-size: 150%;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.lista{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    /* border:1px solid white; */
}
.a-nav{
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    transition: letter-spacing .5s;
}
.copyright{
    color: black;
    font-size: 90%;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5px;
}
.li-nav{ list-style: none;}





/* INFO DEL HOME   ------------    INFO DEL HOME */
header{
    margin-left: 28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.header{
    height: 100%;
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-img{margin-bottom: 1em;}
.header img{height: 14em;border-radius: 100%;}
.header-info{
    height: 18%;
    /* border:1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10%;
    margin-top: 1em;
}

h1{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 250%;
}
.header p{
    color: black;
    font-style: italic;
    font-size: 120%;
    font-weight: 600;
}







/* INFO DENTRO DEL ABOUT ------------ INFO DENTRO DEL ABOUT */
.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 0% 10% 28%;
}
.div-one{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6%;
}
.sub-one{ text-align:left;}
.sub-one img{width: 40%;}
.sub-two{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 30px 0 60px 0;
    /* border: 1px solid white; */
}
.sub-two h2{margin-bottom: 30px;}
.description{display: flex; justify-content: space-between; line-height: 25px; 
    /* color: #c7c6c6; */
    color: black;
}
.description h3{ 
    font-size: 130%;
    color: black;
    margin-bottom: 15px;
}
.info{width: 52%;
    /* border: 1px solid white; */
}
.p-descrip{ margin-bottom: 35px;}
.details{width: 39%;}
.d-one{margin-bottom: 35px;}
.tag-info-about{display: flex;}
.tag-info-about p{margin: 1px;}
.tag{color: black; font-weight: 700; width: 32%; margin: 0;}
.hola{width: 66%;}



.section-language{
    margin: 0 6%;
    color: black;
}
.section-language h3, .section-cursos h3{
    font-size: 140%;
    margin-bottom: 5%;
}
.lenguaje{ display: flex; justify-content: space-between; margin-top: 2%;}
.section-cursos{
    margin: 5% 6% 0;
    color: black;
}
.section-cursos p{margin: 0;}






/* INFO DENTRO DEL PORTAFOLIO -------------- INFO DENTRO DEL PORTAFOLIO*/
.section-gallery{
    padding: 10% 0% 10% 28%;
}
.wrapper{
    padding: 0 8%;
    color: black;
}
.wrapper h2{
    color: black;
    font-size: 200%;
}
.gallery{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    /* border: 1px solid white; */
}
.image{cursor: pointer;
    width: 150%;
}
.image img{ width: 100%; border-radius: 1em;}
.info-gallery{
    margin: 0 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white; */
}
.info-gallery .tag-info{
    margin-bottom: 1em;
}
.tag-info{display: flex;}
.tag-info p{margin: 1px;}
.info-gallery .tag{width: 44%; margin: 0;}
.info-gallery .hola{width: 50%; margin: 0;}
.hola a{
    text-decoration: none;
    color: black;
    transition: letter-spacing 2s;
}
a:hover{
    color: rgb(154, 154, 187);
    letter-spacing: 5px;
}
.image:hover img{-webkit-transform:scale(1);transform:scale(1.1); border-radius: 0px;
     transition: transform 1.5s;
}




/* MEDIA QUERYS------------------- MEDIA QUERYS */
@media screen and (max-width: 1024px){
    /* Proyectos */
    .tag-info{ flex-direction: column;}
    .info-gallery{margin: 0 2em;}
    .tag-info{margin-bottom: 2em;}
    .info-gallery .tag{width: 50%; margin: .5em 0;}
    .info-gallery .hola{width: 100%; margin: 0;}
    /* Proyectos */
}
@media screen and (max-width:1023px){
    /* Menú */
    .navegacion{ display: none;}
    header, .section-one, .section-gallery{margin: 0; padding: 20% 0 10% 0;}
    .navegacion-2{
        background-color: white;
        height: 4.5em;
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        
    }
    .div-nav-2{
        margin: 0 2em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .titulo-2{
        color:black;
        font-size: 150%;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
    }
    .lista-2{
        display: flex;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .a-nav-2{
        text-decoration: none;
        color: black;
        font-weight: 500;
        display: block;
        transition: letter-spacing .5s;
        width: 6em;
    }
    .li-nav-2{ list-style: none;}
    /* Menú */
}

@media screen and (max-width:450px){
    /* Menú */
    .titulo-2{display: none;}
    .header-info h1{font-size: 200%;}
    /* Menú */
    /* Home */
    .header-info{ 
        height: 22%;
        padding: 0 0;
    }
    /* Home */
    /* Información Personal */
    .div-one{
        padding: 2em 0;
    }
    .div-one{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 6%;
    }
    .sub-one img{width: 100%;}
    .description{display: flex; flex-direction: column; justify-content: space-between;}
    .info{width: 100%; margin-bottom: 1em;}
    .details{width: 100%;}
    /* Información Personal */

    /* Proyectos */
    .gallery{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5em;
    }
    .image{
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .info-gallery{margin: 0.5em 1em}
    /* Proyectos */
}

    